.index__top
  .index__top__wrap
    .index__top__wrap__box
      .index__top__wrap__box__title
        Study + Active = Stuctive
      .index__top__wrap__box__subtitle
        効率的に勉強できてお金も稼げる魔法のSNS
      .index__top__wrap__box__button
        = link_to root_path, class: "index__top__wrap__box__button--btn" do
          投稿する
