.index__footer
  .index__footer__container
    .index__footer__container__top
      .index__footer__container__top__area1
        .index__footer__container__top__area1__box
          .index__footer__container__top__area1__box__title
            .index__footer__container__top__area1__box__title--text
              Tags
          .index__footer__container__top__area1__box__tags
            .index__footer__container__top__area1__box__tags__tag
              tag1
            .index__footer__container__top__area1__box__tags__tag
              tag2
            .index__footer__container__top__area1__box__tags__tag
              tag3
            .index__footer__container__top__area1__box__tags__tag
              tag4
            .index__footer__container__top__area1__box__tags__tag
              tag5
            .index__footer__container__top__area1__box__tags__tag
              tag6
            .index__footer__container__top__area1__box__tags__tag
              tag7
            .index__footer__container__top__area1__box__tags__tag
              tag8
            .index__footer__container__top__area1__box__tags__tag
              tag9
            .index__footer__container__top__area1__box__tags__tag
              tag10
            .index__footer__container__top__area1__box__tags__tag
              tag11
            .index__footer__container__top__area1__box__tags__tag
              tag12
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13
            .index__footer__container__top__area1__box__tags__tag
              tag13

      .index__footer__container__top__area2
      .index__footer__container__top__area3
    .index__footer__container__bottom
