.index{
  &__top{
    width: 100%;
    height:330px;
    background-image: image-url("index_top_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:18px;
    &__wrap{
      width: 96%;
      height: 100%;
      padding:8% 2% 7%;
      margin: 0 auto;
        &__box{
          max-width: 680px;
          height: 100%;
          margin: auto;
          &__title{
            font-size: 2.3em;
            font-weight: normal;
            margin: 0.3em 0;
            letter-spacing: -1px;
            font-family: 'Concert One', cursive;
            color: #32abc9;
            text-align:center;
            opacity:0.8;
          }
          &__subtitle{
            font-size: .8em;
            margin:0;
            line-height: 1.7;
            font-weight: bold;
            text-align: center;
            color: #32abc9;
          }
          &__button{
            margin: 2.5em 0 0;
            text-align: center;
            &--btn{
              text-decoration: none;
              text-align: center;
              background: #ed7171;
              padding: .8em 1.5em;
              color: #ffffff;
              font-size: .82em;
              font-weight: bold;
              width: 300px;
              max-width: 90%;
              opacity: 0.9;
              text-shadow: none;
              border: 1px solid #1BB4D3;
              border-color: rgba(0, 0, 0, 0.05);
              border-radius: 0.4em;
              font-family: Helvetica, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
              display: inline-block;
            }
          }
        }
    }
  }
}
